body {
  background-color: black;
}

div {
  box-sizing: border-box;
}

$terminal-green: #00ff00;
$windows-grey: #d8d5cb;
$windows-blue: #1e03a1;
$terminal-pink: #bc00be;
$terminal-light-blue: #00cccc;

.App {
  text-align: center;
  margin: 10px auto;
  width: 70%;
  color: #00ff00;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// Thanks to https://css-tricks.com/snippets/css/typewriter-effect/
.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid $terminal-green; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.1em; /* Adjust as needed */
  animation: typing 2s steps(15, end), blink-caret 1.2s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 14rem;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: $terminal-green;
  }
}

// InstructionStats Wrapper
.instructions-and-stats {
  display: flex;
  text-align: left;
  border-top: 2px dotted $terminal-green;
  border-bottom: 2px dotted $terminal-green;
  margin-bottom: 20px;
  .instructions {
    width: 55%;
    padding-right: 20px;
  }
  .game-stats {
    padding-left: 20px;
    width: 45%;
    border-left: 1px dotted $terminal-green;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    .guesses-remaining {
      font-size: 2rem;
    }

    .hearts {
      color: red;
    }
  }
}

// GuessHistory

.guess-history-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .guess-and-feedback {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 10px;
    font-weight: bold;

    .guess {
      font-size: 1.2em;
      width: 20%;
      text-align: left;
      text-align: center;
      margin-left: 80px;
      background-color: $terminal-green;
      color: black;
    }

    .feedback {
      padding-left: 20px;
      width: 80%;
      text-align: left;
      color: $terminal-light-blue;
    }
  }
}

// PlayerGuessInput
.guess-input {
  color: $terminal-green;
  text-shadow: 1px 1px 1px;
  background-color: darkgreen;
  border: none;
  width: 4rem;
  outline: none;
  font-size: 1.4rem;
  margin: 0 10px 30px 0;
}

// Modal.js
.modal {
  border: 2px solid $windows-grey;
  position: fixed;
  width: 40%;
  height: auto;
  color: black;
  background: $windows-grey;
  transition: 1s ease-out;
  padding-bottom: 10px;

  .modal-header {
    padding: 5px;
    text-align: left;
    background-color: $windows-blue;
    color: $windows-grey;
    margin: 0;
  }

  .modal-content {
    padding: 10px;
  }

  .generate-number-button {
    border: 1px solid black;
    padding: 4px;
    margin-bottom: 10px;
    display: inline-block;
    box-shadow: 3px 2px 2px grey;
    cursor: pointer;
    transition: all 0.1s;

    &:hover {
      transform: translate(1px, 1px);
    }
  }
}

.ghost-container {
  position: fixed;
  bottom: 10px;
  left: 10px;
  display: flex;
  flex-direction: row;
  animation: ghostappears 5s ease;

  #ghost {
    width: 100px;
    height: auto;
  }

  #ghost-rawr {
    color: red;
    font-weight: bold;
  }
}

.ghost-container-hidden {
  position: fixed;
  bottom: 10px;
  left: 10px;
  display: flex;
  flex-direction: row;
  opacity: 0%;

  #ghost {
    width: 100px;
    height: auto;
  }
}

@keyframes ghostappears {
  0% {
    opacity: 10%;
    transform: translateY(100px);
  }
  30% {
    opacity: 100%;
    transform: translateY(0px);
  }
  50% {
    opacity: 100%;
    transform: translateY(20px);
  }
  100% {
    opacity: 10%;
    transform: translateY(100px);
  }
}
