body {
  background-color: black;
}

.App {
  text-align: center;
  margin: 0px auto;
  width: 60%;
  color: #00ff00;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.instructions-and-stats {
  display: flex;
  text-align: left;
}

.guess-input {
  color: #00ff00;
  background-color: darkgreen;
  border: none;
  width: 4rem;
  outline: none;
  font-size: 1.4rem;
}

.modal {
  position: fixed;
  width: 40%;
  height: auto;
  color: black;
  background: #d8d5cb;
  transition: 1s ease-out;
}
